body {
  color: #ffffff;
  background-color: #764abc;
  font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0em;
}

header {
  color: #764abc;
  background-color: #61dbfb;
  font-size: 30px;
  padding: 1em;
}

.text-style-bold {
  font-weight: bold;
}

.logo {
  height: 30vmin;
  border-radius: 50%;
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
  padding: 0.5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.terminal {
  padding: 1em 0em;
}

.balance {
  font-size: 25px;
}

.atm {
  background-color: #61dbfb;
  width: 320px;
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;
}

.atm button {
  font-size: 12px;
  width: 150px;
  height: 56px;
  padding: 20px 30px;
  margin: 6px 2px;
}

.custom-amount-container {
  margin: 6px 2px;
}

.custom-amount-containee {
  margin-bottom: 1em;
}
