body {
  background-color: #764abc;
  color: #fff;
  font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0;
}

header {
  background-color: #61dbfb;
  color: #764abc;
  font-size: 30px;
  width: 98.5%;
  padding: 15px;
}

.atm {
  background-color: #61dbfb;
  width: 320px;
  border-radius: 10px;
  margin: 10px auto 0 auto;
  padding: 20px;
}

.atm button {
  height: 56px;
  width: 150px;
  margin: 6px 2px;
  padding: 20px 30px;
}

.balance {
  font-size: 30px;
}

.logo {
  height: 30vmin;
  border-radius: 50%;
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
